.BlockContent{
  max-width: 90%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  padding-bottom: 2.5rem;
  padding-top: 80px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(100deg, #6495ED, #87CEFA);
  /* font-family: 'Bubblegum Sans', cursive; */
  font-family: 'Boogaloo', cursive;
}


h1{
  margin: 2vw;
  color: #fff;
  font-family: 'Gochi Hand', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 1px black;
}

h2{
  padding: -2vw;
  margin: 2vw;
  font-family: 'Gochi Hand', cursive;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 1px black;
}

h3{
  margin: 2vw;
  font-family: 'Gochi Hand', cursive;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 1px black;
}


h4{
  margin: 2vw;
  font-family: 'Gochi Hand', cursive;

}


nav {
  height: 10vh;
  background: #5b78c7;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  font-size: 8px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #1E90FF;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
