.AddTaskInput{
  width: 70%;
  border: grey;
  background: rgba(255,255,255,0.7);
  padding: 2vw;
  margin: 1vw;
  outline: none;
  font-size: 18px;
}

.taskright{
  margin: 2vw;
}

#DeleteListButton{
  display: block;
  width: 20vw;
  border: none;
  background: linear-gradient(120deg, #4169E1, #6495ED, #1E90FF);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  margin-bottom: -5vh;
}

#DeleteListButton:hover{
  background-position: right;
}

.notcomp{
  grid-area: notcomp;
  overflow: auto;
  height: 50vh;
}

.comp{
  grid-area: comp;
  display: flow-root;
  overflow: auto;
  height: 50vh;
}

.taskleft{
  display: grid;
  grid-column-gap: 5vw;
  padding: 3vw;
  width: 100%;
  grid-template-columns:
    50% 50%;
  grid-template-areas:
    'notcomp comp';
}

.taskgrid{
  grid-area: container;
  width: 90%;
}
.taskcontainer{
    display: grid;
    grid-column-gap: 5vw;
    padding: 3vw;
    width: 100%;
    grid-template-columns:
      5% 90% 5%;
    grid-template-areas:
      '. container .';
}


#task{
  background: rgba(255,255,255,0.5);
  padding: 2vw;
  margin: 2vw;
  align-items: center;
  grid-area: task;
}

#task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
  height: auto;
  width: auto;
}

#task p{
  padding: -2vw;
  color: green;
}

#AddTaskButton{
  display: inline;
  height: 9vh;
  width: 7vw;
  font-size: 1.6vw;
}
