{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>FamilyNotice</title>
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	 <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/userCard.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

	 <meta name="google-signin-client_id" content="451953960582-d5j6ughu6tg9tajrb8lvak5b0npuesuv.apps.googleusercontent.com">

	 <script>
	   $(function(){
	     $.ajax({
	              url: "{% url 'List of lists' %}",
	              success: function(data){
	                console.log(data)

	               for(var i=0;i<data.list.length; i++){
	                   var the_id = data.list[i].pk
	                   var completed = data.arr[i]
	                   // $(".To_do_list").append("<a href='/tasks/" + the_id + "'>"
	                   // + "<div class='listTile' id=" + data.list[i].pk + "><h1 class='long'>" + data.list[i].fields.nameOfList + "</h1></div></a>")
	                   if (completed == true){
	                     $(".To_do_list").append("<a href='/tasks/" + the_id + "'>"
	                     + "<div class='listTile' id=" + data.list[i].pk + "><h1 style='text-decoration: line-through' id='long'>" + data.list[i].fields.nameOfList + "</h1></div></a>")
	                   }
	                   else{
	                     $(".To_do_list").append("<a href='/tasks/" + the_id + "'>"
	                     + "<div class='listTile' id=" + data.list[i].pk + "><h1 id='long'>" + data.list[i].fields.nameOfList + "</div></h1></a>")
	                   }
	                   // $(".To_do_list").append("<a href='/tasks/" + the_id + "'>"
	                   // + "<div class='listTile' id=" + data.list[i].id + "><h1 id='long'>" + data.list[i].nameOfList + "</h1></div></a>")

	               }
	              }//END DISPLAY TODOLIST
	     })//END OF AJAX1
 		 				function ClickSub(){
	             var List__ID = $(this).attr("value")
	              $.ajax({
	                 url: "/tasks/" + List__ID + "/",
	                 method : "POST",
	                 data: $("#AddTaskForm").serializeArray(),
	                 success: function(data){
	                   console.log(data)
	                   $(".notcomp").append("<div class='task"+data.id + "' id='task'>" + data.name + "<i class='glyphicon glyphicon-remove DeleteTaskButton' id='" + data.id + "'></i><i style='color:white;' class='glyphicon glyphicon-ok CompletedButton' id='" + data.id + "'></i></div>")
	                 }
	              })

	           }//END ADD TASK


						 $("#AddTaskButton").click(ClickSub);
						 //For clicking

						 $("#AddPart").keydown(function(e){
						     if(e.which === 13){
						        ClickSub();
						        return false;
						     }
						 });

	   })
		 ////Geolocation
		 $(function getLocation() {
		 	if (navigator.geolocation) {
		 		navigator.geolocation.getCurrentPosition(showPosition);

		 	} else {
		 		x.innerHTML = "Geolocation is not supported by this browser.";
		 	}
		 })

		 function showPosition(position) {
		 	var pos = {
		 		lat: position.coords.latitude,
		 		long: position.coords.longitude
		 	};
		 	$.ajax({
		 														url: "{% url 'location' %}",
		 														type: "PUT",
		 														data: pos,
		 														dataType : 'json',
		 														beforeSend: function(xhr) {
		 																xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
		 														},
		 														success: function(data){
		 																	 console.log(data)
		 																	 console.log('Location Updated');
		 														}
		 													})//END OF AJAX
		 }




	 </script>

</head>
<body>
	<div id="page-container">
	      <!-- NAVIGAATION BAR -->
				<nav>
		      <input type="checkbox" id="check">
		      <label for="check" class="checkbtn">
		        <i class="fas fa-bars"></i>
		      </label>
		      <label class="logo "><a href="{% url 'index' %}">FamilyNotice</a></label>
		      <ul>
		        <li><a href="{% url 'todolists' %}">To do lists</a></li>
		        <li><a href="{% url 'calendar' %}">Calendar</a></li>
		        <li><a href="{% url 'chat' %}">Messages</a></li>
		        <li><a href="{% url 'chores' %}">Chores</a></li>
						{% if user.is_authenticated %}
						<li ><a class="profile_pic active"><span class="glyphicon">
							{% if request.user.member.genderType == 'Male' %}
								{% if request.user.member.userType == "Guardian" %}
							<img src="https://image.flaticon.com/icons/svg/145/145859.svg" width="40" height="40">
								{% else %}
							<img src="https://image.flaticon.com/icons/svg/145/145867.svg" width="40" height="40">
								{% endif %}
							{% else %}
								{% if request.user.member.userType == 'Guardian' %}
								<img src="https://image.flaticon.com/icons/svg/145/145852.svg" width="40" height="40">
								{% else %}
								 <img src="https://image.flaticon.com/icons/svg/145/145866.svg" width="40" height="40">
								{% endif %}
								{% endif %}

						</span>{{request.user}}</a></li>
						<li ><a class="active" id="chooseFamilyNav" href="{% url 'choose family' %}"><span class="glyphicon"></span>
							{% if request.session.family_session %}
							{{request.session.family_session}}
							{% else %}
							Choose Family
							{% endif %}
								</a>
						</li>
						<li onclick="signOut()"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
						{% else %}
						<li ><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
						<!-- LOGIN -->
						<li ><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
						{% endif %}
		      </ul>
	      </nav>
				 <!-- BLOCK CONTENT -->
				{% block content %}

				{% endblock %}
				 <!-- FOOTER -->
				<footer id="footer">
					Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
				</footer>
	</div>
</body>
<script>
  function signOut() {
		console.log("Logging out of google")
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</html>
