{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">

    <div class='BlockContent'>
      <div class="CalendarPage" >
        <h1 id="heading">Calendar </h1>
        <div class="CalTile" id="CalLeft">

            <div class="Calendar">
              <div class="responsive-iframe-container cal-container">
                <iframe alt="https://storage.googleapis.com/support-kms-prod/mNMj6MHrTcKSz3TQfugBBCbSsKMrfxZmzsYi" src="https://calendar.google.com/calendar/embed?src={{Famcalendar}}&amp;{%for cal in calArr%}src={{cal}}&amp;{% endfor %}color=%23711616&amp;color=%23125A12&amp;color=%23BE6D00&amp;color=%235229A3&amp; " style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
              </div>
            </div>

            <a class="btn btn-info btn-lg calBut" href="{% url 'SignOutGoogle' %}">Sign in as another User</a>
            <a class="btn btn-info btn-lg calBut" id="DisplayCalAdd">Add Calendar Event</a>

            <a class="btn btn-info btn-sm calBut" id="clickHelpCal">Click here for instructions if google refuses to connect to your calendar</a>

        <a class="btn btn-info btn-sm calBut" id="removeHelp">Remove help</a>
        <br>

        </div>

        <div class="CalTile" id="CalRight">
            <h2 style="margin: 0 0 1vh 0;">Add Calendar Event</h2>
            <form class = "Add-Cal-form" role="form" action = "{% url 'calendarAdd' %}"  method="POST">
              {% csrf_token %}
                  {{form.as_p}}
                  <!-- <label for="start-time">Start Time:</label>

                  <input class='form-control' type="datetime-local" id="start-time"
                         name="start-time"> -->
                  <input type ="submit" class=" loginButton" value="Create a new event">
            </form>
        </div>
        <img id='calHelp' src="https://storage.googleapis.com/support-kms-prod/mNMj6MHrTcKSz3TQfugBBCbSsKMrfxZmzsYi">
      </div>
    </div>

    <script>

      $(function(){
          $("#calHelp").hide()
          $("#removeHelp").hide()
          $("#CalRight").hide()
          $('.CalendarPage').css('display','block')

          $("#clickHelpCal").click(function(){
              $("#clickHelpCal").toggle()
              console.log("Show Help")
              $("#removeHelp").toggle()
              $("#calHelp").toggle()
            })
                $("#removeHelp").click(function(){
                    $("#clickHelpCal").toggle()
                    console.log("Show Help")
                    $("#removeHelp").toggle()
                    $("#calHelp").toggle()
                  })

            $("#DisplayCalAdd").click(function(){
                $('.CalendarPage').css('display','grid')
                $("#CalRight").show()
                $("#DisplayCalAdd").hide()
            })

      });

    </script>

{% endblock %}
