{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<script>
$(function () {
 var objDiv = document.getElementById("Chat");
 objDiv.scrollTop = objDiv.scrollHeight;

 function ClickSub(){
   newdata = $('.createMessageForm').serializeArray()
    $.ajax({
       url: "{% url 'add message' %}",
       method : "POST",
       data: newdata,
       beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
        },
       success: function(data){
         console.log(data)
         $(".MessageView").append("<div id='MessageMe' class='MessageContainer'>"
          + "<div class='messagep' id='pMe'><p class='MessengerName'>"+ data.authorName +"</p>"
          + "<p>"+ data.message +"</p></div><br><span class='time' id='timeMe'>" + data.time +"</span></div><br>")

          var objDiv = document.getElementById("Chat");
          objDiv.scrollTop = objDiv.scrollHeight;

        $(".createMessageForm").trigger("reset");
       }

    })
 }

 $("#submitChat").click(ClickSub);
 //For clicking

 $("#MessageSendForm").keydown(function(e){
     if(e.which === 13){
        ClickSub();
        return false;
     }
 });
 //For pressing enter




})


</script>

    <div class='BlockContent'>
      <h1 style="display:inline;">{{name}}</h1><i class="glyphicon glyphicon-pencil"></i>

      <div id="Chat">
        <div class="MessageView">
          {% for message1, message2 in messages %}
            {% if message1.fields.author == memId %}
              <div id="MessageMe" class="MessageContainer">
                <div class="messagep" id="pMe">
                {% for member in members%}
                  {% if member.id == message1.fields.author %}
                  <p class="MessengerName"> {{member.user.first_name}} </p>
                  {% endif %}
                {% endfor %}
                  <p>{{message1.fields.message}}</p>
                  </div>
                  <br>
                  <span class="time" id="timeMe">{{message2.dateFormatted }}</span>
              </div>
              <br>
            {% else %}
            <div id="MessageThem" class="MessageContainer">
              <div class="messagep" id="pThem">
              {% for member in members%}
                {% if member.id == message1.fields.author %}
                <p class="MessengerName"> {{member.user.first_name}} </p>
                {% endif %}
              {% endfor %}
                <p >{{message1.fields.message}}</p>
                </div>
                <br>
                <div class="time" id="timeThem">{{message2.dateFormatted }}</div>
            </div>
            <br>
            {% endif %}
          {% endfor %}
          </div>
    </div>
          <div class="MessageSend" id="MessageSendForm">
            <form style="display:inline;" class= "createMessageForm">
              {% csrf_token %}
                <input type="hidden" name="Author" value="{{memId}}">
                <input type="text" pattern=".{1,10}" class="AddMessageInput form-control" name="OutgoingMessage" placeholder="Write your message here..." >
                <!-- <button type="submit" class="form-control">Send </button>
                <input style="display:inline;" id="btn-input" type="text" class="form-control input-sm chat_input"  /> -->
                <button style="display:inline;"  type="button" class="btn btn-primary btn-sm" id="submitChat" ><i class="glyphicon glyphicon-send"></i></button>
            </form>
          </div>
   </div>
{% endblock %}
