{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mealPlanner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chore.css' %}">
    <div class='BlockContent'>
      <div class="choresKids">
        <div class="choresContainer">
          <h1>Your Chores </h1>
          <p style="display:inline;">Shown below are the chores for </p><p style="color:white;display:inline;">{{member}} </p>
          <br>
          <p style="display:inline;">You currently have </p><p style="color:white;display:inline;">{{member.Currentpoints}} </p><p style="display:inline;"> points to use</p>
              <table  style="margin-top:1vw;">
                 <thead>
                   <tr>
                     <th class="BlueTop" scope="col">Chore</th>
                     <th class="BlueTop" scope="col">Description</th>
                     <th class="BlueTop" scope="col">Points Worth</th>
                     <th class="BlueTop" scope="col">Due By</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     {% for chore1, chore2 in chores %}
                     {% if chore1.fields.completed == True %}
                     <td data-label="Chore" class="Dinner" style="text-decoration: line-through;"> {{ chore1.fields.name }}</td>
                     <td data-label="Description" class="Dinner" id="desc" style="text-decoration: line-through;"> {{ chore1.fields.description }}</td>
                     <td data-label="Points Worth" class="Lunch"" style="text-decoration: line-through;">{{ chore1.fields.points }}</td>
                     <td data-label="Due By" class="Lunch"" style="text-decoration: line-through;">{{ chore2.dateFormatted}}</td>
                     {% else %}
                     <td data-label="Chore" class="Dinner"> {{ chore1.fields.name }}</td>
                     <td data-label="Description" class="Dinner" id="desc"> {{ chore1.fields.description }}</td>
                     <td data-label="Points Worth" class="Lunch">{{ chore1.fields.points }}</td>
                     <td data-label="Due By" class="Lunch">{{ chore2.dateFormatted}}</td>
                     {% endif %}
                   </tr>
                   {% endfor %}
                 </tbody>
               </table>
        </div>
        <div class="rewardsContainer">
          <h1>Potential Rewards</h1>
          <p> Do your best to get points and earn these rewards your gaurdians have set </p>
          <div id="errorClaim"></div>
          <table  style="margin-top:1vw;">
             <thead>
               <tr>
                 <th class="YellowTop" scope="col">Reward</th>
                 <th class="YellowTop" scope="col">Points Needed</th>
                 <th class="YellowTop" scope="col"></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 {% for reward in rewards %}
                 <td data-label="Reward" class="Rewards1"> {{ reward.fields.name }}</td>
                 <td data-label="Points Needed" class="Rewards">{{ reward.fields.pointsNeeded }}</td>
                 <td class="Rewards">
                   <button class="ClaimRewardButton YellowButton" id="{{reward.pk}}">Claim <span class="glyphicon glyphicon-gift"></span></button>
                 </td>
               </tr>
               {% endfor %}
             </tbody>
           </table>

        </div>
        <div class="claimsContainer">
          <h1>Rewards Claimed</h1>
          <p> These are the claims your waiting to recieve from your guardian. Be sure to remind them politely </p>
          <table  style="margin-top:1vw;">
             <thead>
               <tr>
                 <th class="GreenTop" scope="col">Reward Claimed</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 {% for c in claim %}
                 <td data-label="Reward Claimed" class="Chores1"> {{ c }}</td>
               </tr>
               {% endfor %}
             </tbody>
           </table>
        </div>

        {% if member.genderType == 'Female' %}
             <div id="singleCard" class="card">
        {% else %}
             <div id="singleCard" class="card green">
        {% endif %}
                 <div class="additional">
                   <div class="user-card">
                     <div class="level center">
                       {{member.Level}}
                     </div>
                     <div class="points center">
                       {{member.points}} Points
                     </div>
                     {% if member.genderType == 'Male' %}
                       {% if member.userType == "Guardian" %}
                     <img src="https://image.flaticon.com/icons/svg/145/145859.svg" width="110" height="110" class="center">
                       {% else %}
                     <img src="https://image.flaticon.com/icons/svg/145/145867.svg" width="110" height="110" class="center">
                       {% endif %}
                     {% else %}
                       {% if member.userType == 'Guardian' %}
                       <img src="https://image.flaticon.com/icons/svg/145/145852.svg" width="110" height="110" class="center">
                       {% else %}
                        <img src="https://image.flaticon.com/icons/svg/145/145866.svg" width="110" height="110" class="center">
                       {% endif %}
                     {% endif %}
                   </div>
                   <div class="more-info">
                     <h1>{{member}}</h1>
                     <div class="coords">
                       <span>Joined {{member.user.date_joined}} </span>
                     </div>
                     <div class="coords">
                       <span>{{member.userType}} </span>
                       <span>{{member.dateOfBirth}} </span>
                     </div>
                     <div class="stats">
                       <div>
                         <div class="title">Tasks/Chores Completed</div>
                         <i class="fa fa-book"></i>
                         <div class="value">{{member.TasksComp}}</div>
                       </div>
                       <div>
                         <div class="title">Messages Sent</div>
                         <i class="fa fa-comments"></i>
                         <div class="value">{{member.MessagesSent}}</div>
                       </div>
                       <div>
                         <div class="title">Families</div>
                         <i class="fa fa-group"></i>
                         <div class="value">{{member.NumbOfFamilies}}</div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="general">
                   <h1>{{member}}</h1>
                   <h3>{{member.user.get_full_name}}</h3>
                   <h5>{{member.user.email}}</h5>
                   <span class="more">Mouse over the card for more info</span>
                 </div>
             </div>
        </div>
      </div>
    </div>

    <script>
    $(document).on("click", '.ClaimRewardButton', function(event) {
      console.log('CLicked claim')
      var deleteConf = confirm("Are you sure you want to claim this reward permanently? Your points will be taken");
        if (deleteConf == true){
                  csrfToken = $('input[name=csrfmiddlewaretoken]').val()
                  $.ajax({
                    url: "{% url 'claim' %}",
                    type : "POST",
                    dataType: 'json',
                    data: $(this).attr('id'),
                    beforeSend: function (xhr) {
                           xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
                    },
                    success: function(data){
                      console.log(data)
                    }
              })
            }
    });
    </script>
{% endblock %}
