{% extends "mainapp/base.html" %}

{% block content %}
    <div class='BlockContent'>
      <div class="newFamily">
         <form class = "family-form" role="form" action = "{% url 'create family' %}" method="POST">
            <h3>Create a new family:</h3>
            {% csrf_token %}
            {{form.as_p}}
            <input type ="submit" style="width: 150px;" class="loginButton" value="Create Family">
            <!-- <button class="form-control" style="width: 150px;" type="submit"> Create Family </button> -->
          </form>
      </div>
    </div>
{% endblock %}
