{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}
  <div class="BlockContent">
      <div class="indexContainer">

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>To Do Lists </h1>
             <div class="icons">
               <i class="icon fas fa-share"></i>
              </div>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Calendar </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Create Event </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Meal Planner </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Messages </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Find a family member </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Chores / Assign Chores </h1>
           </div>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile" id="middle">
           <img src="{% static 'Note.jpg' %}" alt="My image">
           <div class="image-content">
             <h1>Current Members of Family </h1>
           </div>
         </div>
         </a>
      </div>
      </div>
{% endblock %}
