{% extends "mainapp/base.html" %}

{% block content %}
{% load static %}
  <div class="BlockContent">
      <div class="indexContainer">

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="short">To Do Lists </h1>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="short">Calendar </h1>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="short">Create Event </h1>
         </div>
         </a>

         <a href="{% url 'meal planner' %}">
         <div class="tile">
             <h1 id="short">Meal Planner </h1>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="short">Messages </h1>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="long">Find a family member </h1>
         </div>
         </a>

         <a href="{% url 'todolists' %}">
         <div class="tile">
             <h1 id="long">Chores / Assign Chores </h1>
         </div>
         </a>

         <a href="{% url 'current members' %}">
         <div class="tile">
             <h1 id="long">Current members of family </h1>
         </div>
         </a>
      </div>
      </div>
{% endblock %}
