{% extends "mainapp/base.html" %}

{% block content %}
    <div class='BlockContent'>
      <div class="loginPage">

         <form class = "login-form" role="form" action = "{% url 'login' %}" method="POST">
            <h3>Please enter your details to login</h3>
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="txtb">
              <input type="text" name="username" required id="id_username">
              <span data-placeholder="Username"></span>
            </div>
            <div class="txtb">
              <input type="password" name="password" required id="id_password" >
              <span data-placeholder="Password"></span>
            </div>

            <!-- btn btn-success -->
            <input type ="submit" class=" loginButton" value="Login">

              <div class="bottom-text">
                  Don't have an account? <a href="{% url 'register' %}"> Sign up</a>
              </div>
              <a href="/password-reset/"> Forgotten Password? </a>
          </form>
      </div>
    </div>
{% endblock %}
