{% extends "mainapp/base.html" %}



{% block content %}


    <div class='BlockContent'>

     <h1>Meal Planner</h1>
     <div class= "Mealcontainer">

           <table>
  <thead>
    <tr>
      <th class="BlueTop" scope="col">Day</th>
      <th class="BlueTop" scope="col">Breakfast</th>
      <th class="BlueTop" scope="col">Lunch</th>
      <th class="BlueTop" scope="col">Dinner</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Day" class="MealDay  BlueNonButton">Monday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.monB.id}}'>{% if meals.monB == None %}<a href="{% url 'add meal' 'monB' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.monB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":monB:{{meals.monB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.monL.id}}'>{% if meals.monL == None %}<a href="{% url 'add meal' 'monL' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.monL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":monL:{{meals.monL.id}}: "></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.monD.id}}'>{% if meals.monD == None %}<a href="{% url 'add meal' 'monD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.monD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":monD:{{meals.monD.id}}: "></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Tuesday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.tueB.id}}'>{% if meals.tueB == None %}<a href="{% url 'add meal' 'tueB'%}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.tueB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":tueB:{{meals.tueB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.tueL.id}}'>{% if meals.tueL == None %}<a href="{% url 'add meal' 'tueL'%}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.tueL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":tueL:{{meals.tueL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.tueD.id}}'>{% if meals.tueD == None %}<a href="{% url 'add meal' 'tueD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.tueD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":tueD:{{meals.tueD.id}}:"></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Wednesday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.wedB.id}}'>{% if meals.wedB == None %}<a href="{% url 'add meal' 'wedB'%}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.wedB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":wedB:{{meals.wedB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.wedL.id}}'>{% if meals.wedL == None %}<a href="{% url 'add meal' 'wedL'%}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.wedL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":wedL:{{meals.wedL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.wedD.id}}'>{% if meals.wedD == None %}<a href="{% url 'add meal' 'wedD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.wedD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":wedD:{{meals.wedD.id}}:"></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Thursday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.thuB.id}}'>{% if meals.thuB == None %}<a href="{% url 'add meal' 'thuB' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.thuB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":thuB:{{meals.thuB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.thuL.id}}'>{% if meals.thuL == None %}<a href="{% url 'add meal' 'thuL' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.thuL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":thuL:{{meals.thuL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.thuD.id}}'>{% if meals.thuD == None %}<a href="{% url 'add meal' 'thuD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.thuD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":thuD:{{meals.thuD.id}}:"></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Friday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.friB.id}}'>{% if meals.friB == None %}<a href="{% url 'add meal' 'friB' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.friB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":friB:{{meals.friB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.friL.id}}'>{% if meals.friL == None %}<a href="{% url 'add meal' 'friL' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.friL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":friL:{{meals.friL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.friD.id}}'>{% if meals.friD == None %}<a href="{% url 'add meal' 'friD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.friD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":friD:{{meals.friD.id}}:"></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Saturday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.satB.id}}'>{% if meals.satB == None %}<a href="{% url 'add meal' 'satB' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.satB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":satB:{{meals.satB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.satL.id}}'>{% if meals.satL == None %}<a href="{% url 'add meal' 'satL' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.satL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":satL:{{meals.satL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.satD.id}}'>{% if meals.satD == None %}<a href="{% url 'add meal' 'satD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.satD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":satD:{{meals.satD.id}}:"></i>{% endif%}</td>
    </tr>
    <tr>
      <td scope="row" data-label="Day" class="MealDay BlueNonButton">Sunday</td>
      <td data-label="Breakfast" class="Breakfast" id='Link{{meals.sunB.id}}'>{% if meals.sunB == None %}<a href="{% url 'add meal' 'sunB' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.sunB}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":sunB:{{meals.sunB.id}}:"></i>{% endif%}</td>
      <td data-label="Lunch" class="Lunch" id='Link{{meals.sunL.id}}'>{% if meals.sunL == None %}<a href="{% url 'add meal' 'sunL' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.sunL}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":sunL:{{meals.sunL.id}}:"></i>{% endif%}</td>
      <td data-label="Dinner" class="Dinner" id='Link{{meals.sunD.id}}'>{% if meals.sunD == None %}<a href="{% url 'add meal' 'sunD' %}">Add Dish <i class="glyphicon glyphicon-plus"></i></a>{% else %}{{meals.sunD}} <i class="glyphicon glyphicon-remove DeleteMealButton" id=":sunD:{{meals.sunD.id}}:"></i>{% endif%}</td>
    </tr>
  </tbody>
</table>

     </div>


    </div>

    <script>
       $(document).on("click", '.DeleteMealButton', function(event) {
         console.log('delete button clicked right')
         console.log($(this).attr("id"))
             var deleteConf = confirm("Are you sure you want to delete this Meal permanently?");
               if (deleteConf == true){
                     csrfToken = $('input[name=csrfmiddlewaretoken]').val()
                         $.ajax({
                           url: "{% url 'delete meal' %}",
                           type : "DELETE",
                           dataType: 'json',
                           data: $(this).attr('id'),
                           beforeSend: function (xhr) {
                                  xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
                           },
                           success: function(data){
                                  console.log(data)
                                  $('#Link'+data.meal_id+'').html("<a href='/../addmeal/" + data.meal_type +"'>Add Dish <i class='glyphicon glyphicon-plus'></i></a>")
                                  console.log('Task is deleted')
                           }
                     })
                  }
       });


    </script>
{% endblock %}
