{% extends "mainapp/base.html" %}



{% block content %}



     <div class= "taskcontainer">

       <div class = "taskright">
         <h2> Add Task: </h2>
         <!-- action="{% url 'create_task' %}" role="form" method="POST" enctype="multipart/form-data" -->
         <form id="AddTaskForm">
            Task:
            {% csrf_token %}
            <input type="text" class="AddTaskInput" name="TaskName">
            <button type="button" class="btn btn-default" id= "AddTaskButton" value="{{ListID}}">Submit</button>
          </form>

      </div>

         <!-- <div class = "taskleft"> -->
         <h2> Task lists: </h2>
                 <div class="notcomp">
                        <h4> Not Completed </h4>
                          {% for task in tasks %}
                          <div class="task{{task.pk}}"id="task">
                          {{task.fields.name}}

                          <i class="glyphicon glyphicon-ok" id="{{task.pk}}"></i>
                          <i class="glyphicon glyphicon-remove DeleteTaskButton" id="{{task.pk}}"></i>
                          </div>
                          {% endfor %}

                  </div>

                  <div class="comp">
                         <h4>Completed </h4>
                         {% for task in tasks %}
                             <div class="task{{task.pk}}" id="task">
                                 {{task.fields.name}}
                                 <i class="glyphicon glyphicon-ok" id="{{task.pk}}"></i>
                             </div>
                         {% endfor %}

                 </div>
         <!-- </div> -->

     </div>
{% endblock %}
